.footer__background {
    background-color: black;
}

.footer-box {
    padding-top: 30px;
    padding-bottom: 60px;
    display: flex;
}

.footer__column:first-of-type {
    width: 50%;
}

.footer__column:not(.footer__column:first-of-type) {
    width: 25%;
}

.footer__rechte {
    font-size: var(--font-size-medium);
    color: white;
}

.footer__rechte:not(.footer__rechte:last-of-type) {
    border-right: 2px solid white;
    padding-right: 10px;
    margin-right: 30px;
}

.footer__column:first-of-type .footer__row:nth-of-type(2) {
    color: var(--font-color-smoothgrey);
    margin-top: 40px;
    font-size: var(--font-size-small);
    line-height: 1.1rem;
}

.footer__row:first-of-type {
    display: flex;
}

.footer__title {
    color: white;
    font-size: var(--font-size-medium);
}

.footer__column:not(.footer__column:first-of-type) .footer__row:nth-of-type(2) {
    margin-top: 20px;
    display: flex;
}

.footer__logo__bg {
    display: flex;
    align-items: center;
    padding: 7px 10px;
    border: 1px solid var(--font-color-smoothgrey);
    border-radius: 8px;
}

.footer__logo__bg i {
    font-size: var(--font-size-xlarge);
    color: white;
    margin-right: 8px;
}

.footer__logo__bg span {
    font-size: var(--font-size-basic);
    color: white;
}

.footer__logo__bg:first-of-type {
    margin-right: 8px;
}

.footer__sns {
    height: 40px;
    width: 47px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 8px;
}

.footer__sns > i {
    width: 25px;
    height: 25px;
    color: white;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--font-size-medium);
    border-radius: 50%;
}
